{% extends "layout.html" %}

{% block head %}

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MWZFBHT');</script>
<!-- End Google Tag Manager -->

{% endblock head %}

{% block content %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MWZFBHT"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="content-intro">


<p>
This is a page with Google Tag manager doing something funky to the page.</p>

</div>


	<div class="content-section">

		<h3>10. Will Google discover a new URL via a rel=next tag?</h3>

		<ul>
			<li>A rel=next link has been added to this page. The URL is not linked directly from anywhere.</li> 
		</ul>
	</div>


{% endblock content %}